# Convert the Dataset into Vectors

The goal of this notebook is to generate a vector for each cell for all notebooks in the sliced-notebooks dataset.

Dimensions of vector array: n * sequence count * 300

# Import modules

In [50]:
import pandas as pd
import numpy as np
import os
import gensim
from gensim.models.doc2vec import TaggedDocument
from gensim.models.doc2vec import Doc2Vec
import torch

# Import dataset and doc2vec model

In [6]:
df = pd.read_csv("../data/all-notebooks-sliced.csv")
model = Doc2Vec.load("../model/notebook-doc2vec-model.model")

In [13]:
df.head(4)

,Unnamed: 0,source,filename,competition,name,cell
0,208581,import pandas as pd\nfrom numpy import double\...,85969_0,rossmann-store-sales,85969,0
1,208129,import pandas as pd\nfrom numpy import double\...,85969_1,rossmann-store-sales,85969,1
2,209018,import pandas as pd\nfrom numpy import double\...,85969_2,rossmann-store-sales,85969,2
3,208697,import pandas as pd\nfrom numpy import double\...,85969_3,rossmann-store-sales,85969,3

# Group the dataset by notebook and generate doc2vec vectors

In [69]:
df_test = df

In [70]:
allVectors = []
allVectorsFilenames = []
for i, notebook in df_test.groupby("name"):
    
    vectorSeq = []
    # vectorSeq is a list of doc2vec vectors corresponding to [Cell0, Cell1, .... Celln]
    # each vectorSeq list corresponds to a single notebook
    for j, row in notebook.iterrows():
        source = row[1]
        vector = model.infer_vector(query.split(" "))
        vectorSeq.append(vector)
    allVectors.append(vectorSeq)
    allVectorsFilenames.append(notebook.iloc[0]['name'])

In [51]:
print(len(allVectors))

26430

# Save the arrays

In [73]:
arr = np.array(allVectors,dtype=object)
arrNames = np.array(allVectorsFilenames)

In [74]:
np.save("../data/notebooks-sliced-doc2vec-vectors.npy", arr)
np.save("../data/notebooks-sliced-doc2vec-vectors-filenames.npy", arrNames)